modules = ["nodejs-20", "web", "postgresql-16"]
run = "PORT=3000 npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[env]
NODE_ENV = "production"
PORT = "3000"

[[ports]]
localPort = 3000
externalPort = 80

[packager]
language = "nodejs"
  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
  [languages.javascript.languageServer]
  start = ["typescript-language-server", "--stdio"]

[unitTest]
language = "nodejs"
